[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
influxdb = "*"
ruuvitag-sensor = "*"
bleson = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
types-toml = "*"

[requires]
python_version = "3.9"
