[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
influxdb = "*"
ruuvitag-sensor = "*"
bleson = {ref = "71e8c8b35d95b44d9683c66f36625f585b2b7cf7", git = "https://github.com/TheCellule/python-bleson"}
pydantic = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
types-toml = "*"

[requires]
python_version = "3.9"
